html,
body {
	min-width: 1122px;
	margin: 0;
    padding: 0;
    font-size: 16px;
	line-height: 23px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Cuprum Italic", "Arial", sans-serif;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
    margin: 0 auto;
}
/*css для index*/
.header-main {
	min-height: 320px;
	margin-bottom: 58px;
	background-color: #f1f5f7;
}.header-top {
	height: 42px;
	margin-bottom: 40px;
	background-color: #293449;
}
.header-top__logo {
	display: block;
	width: 220px;
	height: 32px;
	font-size: 24px;
	line-height: 24px;
	padding-top: 9px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}
.header-top__logo:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}
.header-top__logo:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}
.header-top__search {
	float: left;
	position: relative;
	margin: 0;
	max-width: 270px;
	margin-left: 220px;
}
.header-top__search::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: #293449 url("img/icon-exit.png/sprite.png") no-repeat;
  background-position: -5px -184px;
  opacity: 0.3;
}
.header-top__search:hover::before {
  opacity: 1;
  }
.header-top__panel {
	float: right;
	list-style: none;
    font-size: 0;
}
.header-top__panel li {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
	
}
.header-top__panel a {
	display: block;
	position: relative;
	padding: 12px;
    padding-left: 45px;
	color: #ffffff;
	text-decoration: none;
	background-color: #293449;
}
.header-top__panel a:hover {
	background-color: #212a3a;
}
.header-top__panel a:active{
	color: #85898f;
	background-color: #161d29;
}

.header-top__panel .header-top__booking {
	padding-left: 20px;
	background-color: #63a63e;
}
.header-top__panel .header-top__booking:hover {
	background-color: #5fbb2d;
}
.header-top__panel .header-top__booking:active {
	color: #a4bf94;
	background-color: #518534;
}
.header-middle__summary {
	float: left;
	width: 300px;
	min-height: 100px;
	box-sizing: border-box;
	padding-left: 50px;
	margin-right: 20px; 
	color: #ee3643;
}
.header-middle__contact {
	float: left;
	width: 300px;
	min-height: 100px;
	margin-right: 20px;
}
.header-middle__phone{
	display: block;
	width: 193px;
	height: 42px;
	padding-left: 70px;
	font-size: 21px;
	padding-top: 11px;
	border: 4px solid #ffffff;
	color: #e9292a;
}
.header-middle__contact p {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	color: #32425c;
}
.header-middle__making {
	float: right;
	width: 282px;
	min-height: 100px;
	font-size: 0;
	background-color: #c8a07c;/*только для наглядности*/
}
.header-middle__user {
	display: inline-block;
	vertical-align: top;
	
}
.header-middle__user a{
	display: block;
	width: 81px;
	height: 46px;
	
	padding-left: 41px;
	font-size: 21px;
	color: #000000;
	background-color: #fffff;
}
.header-middle__user a:last-child {
	width: 150px;
	text-align: center;
}
.main-navigation {
	clear: both;
	height: 55px;
	margin-top: 40px;
	margin-bottom: 60px;
	border-bottom: 5px solid #293449;
	background-color: #32425c;
	
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
	display: inline-block;
	font-size: 17px;
	line-height: 17px;
	vertical-align: top;
}
.main-navigation a {
	display: block;
	padding: 20px 27px;	
	color: #f1f1f3;
	text-decoration: none;
}
.main-navigation a:hover {
	background-color: #293449;
}
.main-navigation a:active {
	color: #8e939c;
	background-color: #1d2739;
}
.main-content {
	margin-top: 20px;
	background-color: #ffffff;
}
.main-tabs {
	
	min-height: 410px;
	
	margin-bottom: 50px;
	font-size:0;
	background-color: #c8a07c;/*только для наглядности*/
}
.main-tabs__left {
	float: left;
	width: 620px;
}
.main-tabs__right {
	float: right;
	width: 300px;
}
.foto-block__buttons {
	display: inline-block;
	vertical-align: top;
    width: 300px;
	height: 123px;
	margin-bottom: 20px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.main-tabs__left .foto-block__buttons:first-child {
	margin-right: 20px;
}

.main-tabs__right .foto-block__buttons:last-child {
	margin-bottom: 0;
}
.foto-block__slider {
	/*clear: both;*/
	width: 621px;
	height: 267px;
	margin-right: 20px;


	background-color: #429dc7;/*только для наглядности*/
}
.main-h2 {
    min-height: 89px;
    margin-bottom: 20px;
    background-color: #c8a07c;/*только для наглядности*/
}
.main-catalog__items {
	min-height: 318px;
	margin-bottom: 20px;
	font-size:0;
	background-color: #c8a07c;/*только для наглядности*/
}
.catalog__item {
	display: inline-block;
	vertical-align: top;
	width: 218px;
	height: 320px;
	margin-right: 20px;
	background-color: #2d3bf6;/*только для наглядности*/

}
.catalog__item:nth-child(4) {
	margin-right: 0;
}
.main-manufactures {
	min-height: 310px;
	margin-bottom: 85px;
	font-size:0;
	background-color: #c8a07c;/*только для наглядности*/
}
.main-manufactures__branded-sign{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #2d3bf6;/*только для наглядности*/

}
.main-manufactures__branded-sign:nth-child(4n) {
	margin-right: 0;
}
.main-services {
	min-height: 520px;
	background-color: #c8a07c;/*только для наглядности*/
}
.services__descr {
	width: 940px;
	min-height: 140px;
	margin-top: 47px;
	margin-bottom: 15px;
	background-color: #2d3bf6;/*только для наглядности*/

}
.services__menu {
	float: left;
	width: 280px;
	min-height: 271px;
	margin-right: 20px;
	margin-bottom: 46px;
    background-color: #2d3bf6;/*только для наглядности*/
}
.services__items {
	float: right;
	min-width: 770px;
	min-height: 271px;
	margin-bottom: 46px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.main__left-block .main__about-company {
	float:left;
	width: 550px;
	min-height: 540px;
	margin-right: 50px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.main__right-block {
	float: right;
	width: 340px;
	min-height: 540px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.main-footer {
	background-color: #32425c;
}
.contact-information{
	float: left;
    width: 360px;
    min-height: 208px;
}
.main-footer__menu {
    float: right;
    width: 580px;
    min-height: 208px;
}
.bottom-footer {
	min-height: 107px;
	background-color: #293449;
}
.bottom-footer__informaition {
	float: left;
	width: 338px;
	min-height: 95px;
	margin-right: 20px;
    background-color: #2d3bf6;/*только для наглядности*/

}
.informaition__share {
	float: left;
	width: 245px;
	min-height: 95px;
	margin-right: 15px; 
	background-color: #2d3bf6;/*только для наглядности*/
}
.informaition__contact {
	float: left;
	width: 160px;
	min-height: 95px;
	margin-right: 2px; 
	background-color: #2d3bf6;/*только для наглядности*/
}
.informaition__author {
	float: right;
	width: 160px;
	min-height: 95px;
	 
	background-color: #2d3bf6;/*только для наглядности*/
}
/*css для inner*/
.breadcrumbs {
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.main-content h1 {
	display: block;
	min-height: 90px;
	margin-bottom: 20px;
	background-color: #f7f3ec;/*только для наглядности*/
}
.catalog-filter {
	float: left;
	width: 220px;
	min-height: 1147px;
	margin-right: 20px;
	margin-bottom: 60px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.catalog-catalog-content {
	float: right;
	width: 700px;
	min-height: 1147px;
	margin-bottom: 60px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.catalog-sorting {
    min-height: 40px;
    margin-bottom: 20px;
    background-color: #ee3643;/*только для наглядности*/
}
.catalog-list {
	min-height: 995px;
    margin-bottom: 52px;
    font-size:0;
    background-color: #ee3643;/*только для наглядности*/
}
.catalog-list__item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 318px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #2d3bf6;/*только для наглядности*/
}
.catalog-list__item:nth-child(3n) {
	margin-right: 0;
}

}
.main-content__paginator {
	min-height: 40px;
	background-color: #ee3643;/*только для наглядности*/
}
.catalog__little-about {
	clear: both;
	min-height: 260px;
	background-color: #2d3bf6;/*только для наглядности*/
}
/*сss код для sprite*/
.sprite {
    background-image: url("../img/icon-exit.png/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite--icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -5px -31px;
}

.sprite--icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -5px -51px;
}

.sprite--icon-home {
    width: 15px;
    height: 12px;
    background-position: -5px -79px;
}

.sprite--icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -5px -101px;
}

.sprite--icon-logout {
    width: 21px;
    height: 17px;
    background-position: -5px -128px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -5px -155px;
}

.sprite--icon-search {
    width: 17px;
    height: 17px;
    background-position: -5px -184px;
}

.sprite--icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -5px -211px;
}

.sprite--icon-user {
    width: 20px;
    height: 18px;
    background-position: -5px -231px;
}

.sprite--icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -5px -259px;
}
